PORT=8787
LOCAL_ALLOWED_BASES=C:\DJMixes
CLOUD_IMPORT_DIR=C:\DJMixes\Cloud Imports

GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REDIRECT_URI=http://localhost:8787/auth/google/callback
GOOGLE_DRIVE_SCOPES=https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/userinfo.email

DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_REDIRECT_URI=http://localhost:8787/auth/dropbox/callback

LINK_IMPORT_DIR=C:\DJMixes\Link Imports